html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: gray;
}

.page {
	height: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 15% 80% 5%;
	/*row height*/
	grid-template-columns: repeat(20, 1fr);
	/*fr- fraction*/
}

header {
	font-size: x-large;
}

.logo {
	grid-column: span 3;
}

header {
	grid-column: span 17;
}

footer {
	grid-column: span 20;
}

main {
	grid-column: span 17;
}

aside {
	grid-column: span 3;
}

.page, .page>* {
	border: 0.5px solid black;
}

h1 {
	margin: auto;
	font-size: 72px;
	background-color: gray;
}

/* The sidebar menu */

.sidenav {
	/* height: 87%; Full-height: remove this if you want "auto" height */
	/* width: 160px; Set the width of the sidebar */
	/* position: fixed; Fixed Sidebar (stay in place on scroll) */
	/* z-index: 1; */
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
	/* background-color: black;  */
	overflow-x: hidden;
	/* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;

}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
	color: gray;
}

h3 {
color: green;
}